JWT_SECRET=change_this_to_a_strong_random_secret
SPRING_BACKEND_URL=http://your-spring-backend-url
APN_KEY_PATH=./AuthKey_N7R2AY8J7S.p8(예시)
APN_KEY_ID=N7R2AY8J7S
APN_TEAM_ID=Q653PU93R6
APN_TOPIC=WEDLE.CenApp
